/*common start*/

body{
	margin:0;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #0f2656;
/*common end*/

header{
	padding: 20px;
	border bottom: 2px solid #f0f2f4;
}

.container{

	margin: auto;
	width: 90%;
	overflow: hidden;
}

.logo{ 
	width: 10%;
	float: left;
}

.menu{
	width: 50%;
	float: right;
	margin: right;
}